<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    {% load static %}

    <!-- Custom styles for this template-->
    <link href="{% static 'gestion_usuarios/css/estilos.css' %}" rel="stylesheet">

</head>


<body>
    <div id="header">
        <div id="inicial">
            <div id="logo">logo</div>
            <div id="show_menu">
                <img src=" {% static 'gestion_usuarios/imagenes/menu.png' %} " alt=" " srcset=" "></div>
        </div>
        <div id="user">
            <div id="avisos"><img src=" {% static 'gestion_usuarios/imagenes/campana.png' %} " alt=" " srcset=" "></div>
            <div><img src=" {% static 'gestion_usuarios/imagenes/comentario.png' %} " alt=" " srcset=" "></div>
            <div><img src=" {% static 'gestion_usuarios/imagenes/usuario.png' %} " alt=" " srcset=" "></div>
            <div>usuario</div>
            <div id="cerrar">
                <img src=" {% static 'gestion_usuarios/imagenes/cerrar-sesion.png' %} " alt=" " srcset=" "><a href="">Cerrar sesion</a></div>
        </div>


    </div>
    <div id="contenido">
        <div id="nav">
            <ul id="menu">
                <li id="mensajeria">
                    <a href="">Mensajeria</a><img src=" {% static 'gestion_usuarios/imagenes/flecha-hacia-abajo-para-navegar.png' %} " alt=" " srcset=" ">
                    <ul>
                        <li>Mensajeria 1</li>
                        <li>Mensajeria 2</li>
                        <li>Mensajeria 3</li>

                    </ul>
                </li>
                <li id="mensajeria">
                    <a href="">Formación</a><img src=" {% static 'gestion_usuarios/imagenes/flecha-hacia-abajo-para-navegar.png' %} " alt=" " srcset=" ">
                    <ul>
                        <li>Formación 1</li>
                        <li>Formación 2</li>
                        <li>Formación 3</li>

                    </ul>
                </li>
                <li id="mensajeria">Actividad</li>
            </ul>
        </div>
        <div id="main">
            contenido
        </div>
        <div id="aside">aside</div>
    </div>
    <div id="footer">pie</div>
    <script src="{% static 'gestion_usuarios/js/funciones.js' %} ">
    </script>
</body>

</html>