<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    {% load static %}

    <!-- Custom styles for this template-->
    <link href="{% static 'gestion_usuarios/css/estilos.css' %}" rel="stylesheet">

</head>

<body>

    <div id="sidebar">
        hola
    </div>
    <div id="main">
        <div id="superior"></div>
        <div id="contenedor"></div>
    </div>

</body>

</html>