<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    {% load static %}

    <!-- Custom styles for this template-->
    <link href="{% static 'gestion_usuarios/css/estilos.css' %}" rel="stylesheet">
</head>


<body>
    <div id="header">
        <div id="inicial">
            <div id="logo">logo</div>
            <div id="show_menu">
                <img src=" {% static 'gestion_usuarios/imagenes/menu.png' %} " alt=" " srcset=" "></div>
        </div>
        <div id="user">
            <div id="pater_avisos">
                <div id="avisos">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/campana.png' %} " alt=" " srcset=" ">
                    </a>
                </div>
                <div id="burbuja_aviso">1</div>
            </div>
            <div id="pater_mensajes">
                <div id="uno">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/comentario.png' %} " alt=" " srcset=" "></a>
                </div>
                <div id="burbuja_mensaje">1</div>
            </div>

            <div>
                <a href=""><img src=" {% static 'gestion_usuarios/imagenes/usuario.png' %} " alt=" " srcset=" ">
                </a>
            </div>
            <div>usuario</div>

            <div id="cerrar">
                <a href=""><img src=" {% static 'gestion_usuarios/imagenes/cerrar-sesion.png' %} " alt=" " srcset=" ">
                </a>
            </div>
        </div>


    </div>
    <div id="contenido">
        <div id="nav">
            <ul id="menu">
                <li class="iconos_menu">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/icons8-página-principal-50.png' %} " alt=" " srcset=" ">Inicio</a>
                </li>
                <li id="mensajeria" class="iconos_menu">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/icons8-mensaje-relleno-50.png' %} " alt=" " srcset=" ">Mensajeria</a><img src=" {% static 'gestion_usuarios/imagenes/flecha-hacia-abajo-para-navegar.png' %} " alt=" " srcset=" ">
                    <ul>
                        <li>
                            <a href="">Mensajeria 1</a></li>
                        <li>
                            <a href=""> Mensajeria 2</a>
                        </li>
                        <li><a href=""> Mensajeria 3</a></li>
                    </ul>
                </li>
                <li id="mensajeria" class="iconos_menu">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/icons8-aprendizaje-50.png' %} " alt=" " srcset=" ">Formación</a><img src=" {% static 'gestion_usuarios/imagenes/flecha-hacia-abajo-para-navegar.png' %} " alt=" " srcset=" ">
                    <ul>
                        <li>
                            <a href="">Formación 1</a> </li>
                        <li><a href="">Formación 2</a></li>
                        <li><a href="">Formación 3</a></li>

                    </ul>
                </li>
                <li id="mensajeria" class="iconos_menu">
                    <a href=""><img src=" {% static 'gestion_usuarios/imagenes/icons8-graph-60.png' %} " alt=" " srcset=" ">Actividad</a>
                </li>

            </ul>
        </div>
        <div id="main">
            contenido
        </div>
        <div id="aside">aside</div>
    </div>
    <div id="footer">pie</div>
    <script src="{% static 'gestion_usuarios/js/funciones.js' %} ">
    </script>
</body>

</html>